<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'rankings/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Homepage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/rankings/">Rankings <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/matches/">Matches</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/aboutme/">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8">
				{% block mainbody %}
                {% endblock %}
			</div>
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <h3 align="center">FEATURES</h3>
                    <p align="center"> In this website you can : </p>
                    <ul class = "list-group">
                        <li class="list-group-item">Recalculate and store the Elo rating of players by entering the results of a single match.</li>
                        <li class="list-group-item">Retrieve a summary of current players and their ranking in the league based on their Elo rating.</li>
                    </ul>
	            </div>
            </div>
		</div>
	</div>
	<footer id="footer" class="text-center">
		<p>Copyright 2018 &copy; Rankings Demo</p>
	</footer>
</body>
</html>